<h1>User Login</h1>

<%= button_to("NEW USER SIGN UP", new_user_path, :method => :get) %>

<h4><%= flash[:notice] %></h4>

<!-- (user) form will POST to '/user_login' -->
<%= form_tag(user_login_path) do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Login' %>
<% end %>
