<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
    <% end %>
<% end %>

<h1>painter sign up</h1>
 <%# this is for a brand new painter signing up %>
   <div class="signup">
    <%= form_for @painter do |f| %>
    <div class="ui equal width form">
      <div class="fields">
        <div class="field">
          <label id="text">username</label>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <label id="text">password</label>
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label id="text">name</label>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <label id="text">zip code</label>
          <%= f.number_field :zip_code %>
        </div>
        <div class="field">
          <label id="text">email</label>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <label id="text">years of experience</label>
          <%= f.number_field :y_of_exp %>
        </div>
      </div>
      <%= f.submit :class => 'ui submit button' %>
    </div>
    <% end %>
  </div>

</body>
