<div class="ui two top attached buttons">
  <% if session[:painter_id] %>
    <div class="ui button"><%= link_to "Find a new project", rooms_path, :method => 'get', class: 'css_class', style: 'color:#e22424' %></div>
  <% end %>
  <% if session[:user_id] %>
  <div class="ui button"><%= link_to "GO BACK TO MY PAGE", user_path(session[:user_id]), :method => 'get', class: 'css_class', style: 'color:#e22424' %></div>
  <% end %>
    <div class="ui button"><%= link_to "LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424' %></div>
</div>
<div class="ui attached segment">
  <p></p>
</div>


<h1><%= @painter.name.downcase %></h1>
<h2>Number of Reviews: <%= @painter.reviews.count %> </h2>
<% if @painter.reviews.count != 0 %>
<h2>Average Rating: <%= @painter.rating_average.round(1) %> </h2>
<% end %>
<ul>

<% @painter.reviews.each do |review|  %>
  <li> <% review.rating.times do %>
     ⭐️
    <%end  %> <br>



     <%= review.content %></li>

  <%end  %>
</ul>
