<h1><%= @painter.name %></h1>
<h2>Number of Reviews: <%= @painter.reviews.count %> </h2>
<h2>Average Rating: <%= @painter.rating_average %> </h2>
<ul>

<% @painter.reviews.each do |review|  %>
  <li> <% review.rating.times do %>
     ⭐️
    <%end  %> <br>



     <%= review.content %></li>

  <%end  %>
</ul>

<%= button_to "Find a new project", rooms_path, :method => 'get' %>
<%= button_to "LOGOUT", homepage_path, :method => 'get'%>
