<body id="paintername">


<div class="ui two top attached buttons">
  <% if session[:painter_id] %>
    <div class="ui button"><%= link_to "FIND A NEW PROJECT", rooms_path, :method => 'get', class: 'css_class', style: 'color:#e22424' %></div>
  <% end %>
  <% if session[:user_id] %>
  <div class="ui button"><%= link_to "GO BACK TO MY PAGE", user_path(session[:user_id]), :method => 'get', class: 'css_class', style: 'color:#e22424' %></div>
  <% end %>
    <div class="ui button"><%= link_to "LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424' %></div>
</div>
<div class="ui attached segment">
  <p></p>
</div>

<div class="name banner">
  <h1 id="paintername"><%= @painter.name.downcase %></h1>
  <h3 id="paintername">
    <% if @painter.reviews.count != 0 %>
      Average Rating: <%= @painter.rating_average.round(1) %>
    <% end %>
</h3>
<h3 id="paintername">Number of Reviews: <%= @painter.reviews.count %></h3>
</div>


<!-- <div class="">
  <% if @painter.reviews.count != 0 %>
    <h2>Average Rating: <%= @painter.rating_average.round(1) %> </h2>
  <% end %>
</div> -->

<div id="painterreviewcard">

  <% @painter.reviews.each do |review|  %>

  <div class="ui card">
    <div class="content">
      <div class="header"></div>
      <div class="description">
        <p> <% review.rating.times do %>
           ⭐️
          <%end  %></p>
          <p style="font-size: 15px; width: 250px; word-wrap: break-word;"> <%= review.content %></p>
          <p></p>
      </div>
    </div>
  </div>
  <%end  %>
</div>





<p>Number of Reviews: <%= @painter.reviews.count %></p>
</body>
