<body id="painterlogin">
<div class="ui top attached button" tabindex="0"><%= link_to("NEW PAINTER SIGN UP", new_painter_path, :method => :get, class: 'css_class', style: 'color:#e22424') %></div>

<h1>Painter Login</h1>


<h4><%= flash[:notice] %></h4>

<!-- (painter) form will POST to 'painter login path' -->
<%= form_tag(painter_login_path) do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br>
  <p></p>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Login' %>
<% end %>

</body>
