<body id="painterlogin">
<div class="ui top attached button" tabindex="0"><%= link_to("NEW PAINTER SIGN UP", new_painter_path, :method => :get, class: 'css_class', style: 'color:#e22424') %></div>

<h1>Painter Login</h1>


<h4><%= flash[:notice] %></h4>


<%# SEMANTICS LOGIN %>
<%= form_tag(painter_login_path) do %>
  <div class="ui inverted segment">
   <div class="ui inverted form">
     <div class="two fields">
       <div class="field">
         <label>Username</label>
         <%= text_field_tag :username %>
       </div>
       <div class="field">
         <label>Password</label>
         <%= password_field_tag :password %>
       </div>
     </div>
     <%= submit_tag 'Login', class:"ui submit button"%>
   </div>
  </div>
<% end %>



</body>
