<body id="mypainters">
  <div class="ui bottom attached button" tabindex="0"><%= link_to "LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424'%></div>

<h1>my painters</h1>
<% if @my_projects != [] %>
<ul>
  <% @my_projects.each do |project| %>
      <div id="projectcard">
      accepted by: <%= link_to project.painter.name.downcase, painter_path(project.painter) %><br><br>
      <%= button_to("LEAVE A REVIEW", new_review_path, :method => :get, params: {painter_id: project.painter.id}, class: 'button_class') %>
      </div>
  <% end %>
</ul>

<%else  %>
<h4>you do not have any projects yet</h4>
<div class="three ui buttons">
<button class="ui button"><%= link_to 'SEE ALL MY POSTED ROOMS', my_rooms_path(session[:user_id]), :method => 'get', class: 'css_class', style: 'color:#e22424' %></button>
<button class="ui button"><%= link_to 'RETURN TO MY PAGE', user_path(session[:user_id]), :method => 'get', class: 'css_class', style: 'color:#e22424' %></button>
<button class="ui button"><%= link_to 'ADD A ROOM', new_room_path, :method => 'get', class: 'css_class', style: 'color:#e22424' %></button>
</div>
<%end  %>





</body>
