<h1>All project info</h1>
<% if @my_projects != [] %>
<ul>
  <% @my_projects.each do |project| %>
    <li>
      Accepted by: <%= link_to project.painter.name, painter_path(project.painter) %><br>
      Leave a review: <%= button_to("LEAVE A REVIEW", new_review_path, :method => :get, params: {painter_id: project.painter.id}) %>
    </li>
  <% end %>
</ul>

<%else  %>
<p>You do not have any projects yet.</p>
<%= button_to 'See all my posted rooms', my_rooms_path(session[:user_id]), :method => 'get' %>
<%= button_to 'Return to my page', user_path(session[:user_id]), :method => 'get' %>
<%= button_to 'Add a room', new_room_path, :method => 'get'%>
<%end  %>
