<body id="usershow">

<div class="three ui buttons">
  <button class="ui button"><%= link_to "ADD A ROOM", new_room_path, method: :get, class: 'css_class', style: 'color:#e22424' %></button>
  <button class="ui button"><%= link_to "SEE ALL MY PAINTERS", my_painters_path, method: :get, class: 'css_class', style: 'color:#e22424' %></button>
  <button class="ui button"><%= link_to "SEE ALL MY ROOMS", my_rooms_path(@user), method: :get, class: 'css_class', style: 'color:#e22424' %></button>
</div>
<div class="ui bottom attached button" tabindex="0"><%= link_to "LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424'%></div>

<h1>hello, <%= @user.name.downcase %>!</h1>



</body>
