<body id="allrooms">
<div class="ui top attached button" tabindex="0"><%= link_to("LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424') %></div>
<h1>ALL ROOMS🎨</h1>

  <% @rooms.each do |room| %>
    <div id="container">
    <% if !(room.assigned?) %>
        Username: <%= room.user.name %><br>
        Zip Code: <%= room.user.zip_code %><br>
        Price: $<%= room.price %><br>
        <%= button_to("SEE THIS ROOM", room_path(room), :method => :get) %><br>
    <% end %>
    </div>
  <% end  %>

</body>
