<body id="newroom">

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
    <% end %>
<% end %>
<%= button_to "LOGOUT", homepage_path, :method => 'get'%>

<h1><%= @user.name.downcase %>, add a new room!</h1>

<%= form_for @room do |f| %>
  <%= f.label "Area (total square footage)" %><br>
  <%= f.number_field :area %><br>
  <%= f.file_field :image %>
  <!-- <form action="">
   <input type="file" name="image" accept="image/*">
   <input type="submit">
  </form> -->
  <%= f.submit %>
<% end %>

</body>
