<body id="newroom">
<div class="ui top attached button" tabindex="0"><%= link_to("LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424') %></div>


<h1><%= @user.name.downcase %>, add a new room!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <h4><%= error %></h4>
  <% end %>
<% end %>
<div id="projectcard">

<%= form_for @room do |f| %>
  <%= f.label "area (total square footage)" %><br>
  <%= f.number_field :area %><br><br>
  <%= f.file_field :image%><br><br>
  <%= f.submit class: 'button_class' %>
<% end %>
</div>

</body>
