<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
    <% end %>
<% end %>

<h1><%= @user.name %>, ADD A NEW ROOM!</h1>

<%= form_for @room do |f| %>
  <%= f.label "Area (total square footage)" %><br>
  <%= f.number_field :area %><br>
  <%= f.submit %>
<% end %>
