<body id="roomshow">
  <div class="ui two top attached buttons">
      <div class="ui button"><%= link_to("GO BACK TO MY PAGE", user_path(session[:user_id]), :method => :get, class: 'css_class', style: 'color:#e22424')%></div>
      <div class="ui button"><%= link_to("LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424') %></div>
  </div>
  <h1><%= @user.name.downcase %>'s room</h1>

  <div id="usercard">

    area: <%= @room.area %> sqft. <br>
    <p></p>
    price: $<%= @room.price %> <br>
    <p></p>
    <%= image_tag(@room.image.to_s, size: "300x300") %>
    <p></p>
    <p>contact:</p>
      name: <%= @user.name %><br>
      email: <%= @user.email %>
  </div>

</body>
