<body id="roomshow">
  <div class="ui two top attached buttons">
      <div class="ui button"><%= link_to("ACCEPT THIS PAINT JOB", projects_path(user_id: @user.id, room_id: @room.id), :method => :post, class: 'css_class', style: 'color:#e22424')%></div>
      <div class="ui button"><%= link_to("LOGOUT", homepage_path, :method => 'get', class: 'css_class', style: 'color:#e22424') %></div>
  </div>

  <h1><%= @user.name.downcase %>'s room</h1>

  <div id="usercard">
    area: <%= @room.area %> sqft. <br><br>
    price: $<%= @room.price %> <br><br>
      name: <%= @user.name %><br><br>
      email: <%= @user.email %>
  </div>

</body>
