<h1>THIS ROOM</h1>
<p>Area:</p>
<%= @room.area %> sqft.
<p>Price:</p>
$<%= @room.price %>
<p>Contact:</p>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ul>


<%= button_to("GO BACK TO MY PAGE", user_path(session[:user_id]), :method => :get) %>
